<head><link href=".././css/styles.css" rel="stylesheet"></head>  <!-- Modal -->
  <div class="modal fade" id="agree" data-keyboard="false" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title info mb-3">이용약관</h5>
          <div class="text-center mt-3">
            <div class="my-4 agree-info-content">
             이용약관 내용
            </div>
            <!-- <button type="button" class="btn btn-outline-primary btn-fix btn-lg mr-1" data-dismiss="modal">닫기</button>             -->
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  
  <!-- 개인정보 처리방침 -->
  <div class="modal fade" id="personalInfo" data-keyboard="false" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title info mb-3">
            개인정보 처리방침            
          </h5>
          <div class="text-center mt-3">
            <div class="form-group my-4 agree-info-content">
              개인정보처리방침내용
            </div>
            <!-- <button type="button" class="btn btn-outline-primary btn-fix btn-lg mr-1" data-dismiss="modal">닫기</button>       -->
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

   <!-- 위치기반 서비스 이용약관 -->
   <div class="modal fade" id="addressAgree" data-keyboard="false" tabindex="-1" aria-labelledby="shareLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title info mb-3">
            위치기반 서비스 이용약관     
          </h5>
          <div class="text-center mt-3">
            <div class="form-gruop my-4 agree-info-content">
              위치기반 서비스 이용약관 내용
            </div>
            <!-- <button type="button" class="btn btn-outline-primary btn-fix btn-lg mr-1" data-dismiss="modal">닫기</button>       -->
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<script src="../main.js"></script>