<head><link href=".././css/styles.css" rel="stylesheet"></head><nav class="post-ui">
  <div class="wrap">
    <button type="button" class="fbtn" onclick="location.href='/service/addFeed.html'">
      <i class="icon icon-plus"></i>
      <span class="sr-only">글쓰기</span>
    </button>
    <!-- <ul>
      <li>
        <button type="button" class="fbtn">
          <span class="sr-only">a글쓰기</span>
        </button>
      </li>
      <li>
        <button type="button" class="fbtn">
          <span class="sr-only">a글쓰기</span>
        </button>
      </li>
    </ul> -->
  </div>
</nav><script src="../main.js"></script>