<head><link href=".././css/styles.css" rel="stylesheet"></head><!-- review -->
<!-- Reply target info -->
<div class="container reply-to">
  <span>xxxx님에게 답글 남기는 중</span>
  <button type="button" class="icon icon-close icon-sm"></button>
</div>
<footer class="footer footer-comment fixed-bottom">
  <div class="container-fluid h-100">
    <label for="comment" class="sr-only">리뷰</label>
    <textarea name="comment" id="comment" class="form-control" rows="1" placeholder="리뷰를 남겨주세요"></textarea>
    <button type="button" class="btn-text">등록</button>
  </div>
</footer>
<script src="../main.js"></script>