<head><link href=".././css/styles.css" rel="stylesheet"></head><!-- Main Nav -->
<!-- <footer class="footer footer-nav fixed-bottom">
  <div class="container h-100">
    <ul class="d-flex h-100 justify-content-between align-items-center">
      <li>
        <a href="/service/home.html" class="icon icon-home active">
          <span class="sr-only">홈</span>
        </a>
      </li>
      <li>
        <a href="/event/event.html" class="icon icon-bag">
          <span class="sr-only">이벤트</span>
        </a>
      </li>
      <li>
        <a href="/story/storyHome.html" class="icon icon-yoap">
          <span class="sr-only">우리동네</span>
        </a>
      </li>
      <li class="readme">
        <a href="/chat/chatHome.html" class="icon icon-chat2">
          <span class="sr-only">채팅</span>
        </a>
      </li>
      <li class="readme">
        <a href="/mypage/mypageHome.html" class="icon icon-user">
          <span class="sr-only">마이페이지</span>
        </a>
      </li>
    </ul>
  </div>
</footer> -->

<script>
  $(function () {

    // 메뉴 on -- 비동
    $(".footer-nav .icon").on('click', function () {
      $(".footer-nav .icon").removeClass('active');
      $(this).addClass('active');
    })
  })

</script><script src="../main.js"></script>