<head><link href=".././css/styles.css" rel="stylesheet"></head><!-- comment -->
<!-- Reply target info -->
<div class="container reply-to">
  <span>xxxx님에게 답글 남기는 중</span>
  <button type="button" class="icon icon-close icon-sm"></button>
</div>
<footer class="footer footer-comment fixed-bottom">
  <div class="container-fluid h-100">
    <label for="comment" class="sr-only">답글</label>
    <textarea name="comment" id="comment" class="form-control" rows="1" placeholder="댓글 달기"></textarea>
    <button type="button" class="btn btn-text">등록</button>
  </div>
</footer>
<script src="../main.js"></script>