<head><link href=".././css/styles.css" rel="stylesheet"></head>  <header class="header-main store">
    <section class="container-fluid top-nav between">
      <a href="#;" class="btn btn-icon" title="이전으로" onclick="history.back();">
        <span class="icon icon-left icon-ml back"></span>
      </a>
      <!-- <h1>상점소식</h1> -->
      <a href="#;" class="btn btn-icon" title="공유하기" onclick="">
        <span class="icon icon-share icon-ml"></span>
      </a>
    </section>
  </header><script src="../main.js"></script>