<head><link href=".././css/styles.css" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '../../assets/images/logo.png' in 'D:\work_markup\yoap\src\html\partials':
  Error: Can't resolve '../../assets/images/logo.png' in 'D:\work_markup\yoap\src\html\partials'
  ModuleNotFoundError: Module not found: Error: Can't resolve '../../assets/images/logo.png' in 'D:\work_markup\yoap\src\html\partials'
  
  - Compilation.js:925 
    [yoap]/[webpack]/lib/Compilation.js:925:10
  
  - NormalModuleFactory.js:401 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:401:22
  
  - NormalModuleFactory.js:130 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:130:21
  
  - NormalModuleFactory.js:224 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:224:22
  
  - async.js:2830 
    [yoap]/[neo-async]/async.js:2830:7
  
  - async.js:6877 
    [yoap]/[neo-async]/async.js:6877:13
  
  - NormalModuleFactory.js:214 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:214:25
  
  - Resolver.js:213 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:213:14
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - UnsafeCachePlugin.js:44 
    [yoap]/[enhanced-resolve]/lib/UnsafeCachePlugin.js:44:7
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DescriptionFilePlugin.js:67 
    [yoap]/[enhanced-resolve]/lib/DescriptionFilePlugin.js:67:43
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - RootPlugin.js:37 
    [yoap]/[enhanced-resolve]/lib/RootPlugin.js:37:38
  
  
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DescriptionFilePlugin.js:67 
    [yoap]/[enhanced-resolve]/lib/DescriptionFilePlugin.js:67:43
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DirectoryExistsPlugin.js:27 
    [yoap]/[enhanced-resolve]/lib/DirectoryExistsPlugin.js:27:15
  
  - CachedInputFileSystem.js:85 
    [yoap]/[enhanced-resolve]/lib/CachedInputFileSystem.js:85:15
  
  - Module not found: Error: Can't resolve '../../assets/images/logo.png' in 'D:\work_markup\yoap\src\html\partials':
  
  - Error: Can't resolve '../../assets/images/logo.png' in 'D:\work_markup\yoap\src\html\partials'
  
  - ModuleNotFoundError: Module not found: Error: Can't resolve '../../assets/images/logo.png' in 'D:\work_markup\yoap\src\html\partials'
  
  - Compilation.js:925 
    [yoap]/[webpack]/lib/Compilation.js:925:10
  
  - NormalModuleFactory.js:401 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:401:22
  
  - NormalModuleFactory.js:130 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:130:21
  
  - NormalModuleFactory.js:224 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:224:22
  
  - async.js:2830 
    [yoap]/[neo-async]/async.js:2830:7
  
  - async.js:6877 
    [yoap]/[neo-async]/async.js:6877:13
  
  - NormalModuleFactory.js:214 
    [yoap]/[webpack]/lib/NormalModuleFactory.js:214:25
  
  - Resolver.js:213 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:213:14
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - UnsafeCachePlugin.js:44 
    [yoap]/[enhanced-resolve]/lib/UnsafeCachePlugin.js:44:7
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
  - DescriptionFilePlugin.js:67 
    [yoap]/[enhanced-resolve]/lib/DescriptionFilePlugin.js:67:43
  
  - Resolver.js:285 
    [yoap]/[enhanced-resolve]/lib/Resolver.js:285:5
  
  
</pre><script src="../main.js"></script>